DOCKER_CONFIG_GID=

APACHE_STATUS_PORT=8080

MYSQL_USER=
MYSQL_PASSWORD=

REDIS_USER=
REDIS_PASSWORD=

PROMETHEUS_USERNAME=
PROMETHEUS_PASSWORD=

PROMETHEUS_TSDB_RETENTION=

GRAFANA_ADMIN_USERNAME=
GRAFANA_ADMIN_PASSWORD=